@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Tiny5&family=Varela+Round&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: "Varela Round", sans-serif;
    background-color: darkgrey;
    color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 900;
    font-size: 32px;
    padding: 8px 0px;
}
.title, ul {
    padding: 0;
    margin: 0;
}

.contentContainer {
    display: flex;
    justify-content: center;
}

.content {
    flex: auto;
    display: flex;
    justify-content: center;
    max-width: fit-content;
    align-items: center;
    padding: 30px 30px 15px;
    gap: 10vw;
    background-color: grey;
    border-radius: 15px;
}

.sidebar > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    padding: 10px 20px;
    font-family: "Varela Round", sans-serif;
    background-color: white;
    color: #397097;
    font-size: 18px;
    font-weight: 900;
    border-style: none;
    border-radius: 5px;
    width: 160px;
    height: 64px;
    box-shadow: rgb(235, 235, 235) 0px 6px 0px;
}
.colorPickerContainer, .slideContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 40px;
}

.slideContainer {
    font-size: 16px;
}

.colorPickerContainer > p, .slideContainer > p {
    padding: 0;
    margin: 0;
}

#colorPicker {
    box-sizing: border-box;
    padding: 0;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-bottom: 20px;
}

#colorPicker::-moz-color-swatch {
    border-radius: 15px;
    border: none;
}

#colorPicker::-webkit-color-swatch {
    border-radius: 15px;
    border: none;
}



.gridContainer {
    padding: 0;
    margin: 0;
    border: 5px solid #426C8A;
    height: 80vh;
    width: 80vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}
.grid {
    display: flex;
    flex-direction: column; 
    height: 80vh;
    width: 80vh;
}
.row {
    flex: 1;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}
.column {
    flex: 1;
    display: flex;
}
.pixel {
    flex: 1;
    opacity: 1;
    background-color: white;
}

.painted {
    background-color: blue;
}